body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  #captcha {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
    background-color: #a2a1a1;
  }
  
  #refreshCaptcha {
    margin-top: 10px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
    background-color: rgb(4, 111, 225);
    color: azure;
    font-weight: 600;
    text-transform: uppercase;
    font-size: large;
    cursor: pointer;
  }