form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  img {
    display: block;
    margin-bottom: 10px;
  }
h1{
    text-align: center;
}  